/* Grid */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 50px;
  font-family: "CenturyGothic", sans-serif;
  color: #1e2858;
  line-height: 1.4em;
  width: 1100px;
  margin: auto auto;
  background: linear-gradient(to left, white, #f5d7d3 0.6%, #fae9e6 30%, white);
}

.header {
  grid-column: 1 / span 2;
}

.projets {
  grid-column: 1;
  grid-row: 4 / span 3;
}

.container > div:not(.name):not(.jobs-names):not(.valeurs):not(.hobbies) {
  padding: 30px 0px 0px 20px;
}

.name,
.jobs-names {
  padding: 60px 0px 0px 20px;
}

.valeurs,
.hobbies {
  padding: 20px 0px 40px 20px;
}

/* Texte */

h1,
h2,
h5,
.jobs-names {
  margin: 0px;
  font-family: "CaviarDreams", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

h1,
h2 {
  text-decoration: underline overline dashed;
  text-decoration-color: #1e2858;
}

h1 {
  text-decoration-color: #931a1e;
}

h3,
h4,
h6 {
  margin: 0px;
  font-family: "CaviarDreams", sans-serif;
  letter-spacing: 0.03em;
}

h3,
.jobs-names {
  font-family: "CaviarDreams_Bold", sans-serif;
  font-size: 1.2em;
}

h2,
h6 {
  color: #931a1e;
}

h5,
h6 {
  font-size: 1em;
}

h3 {
  margin-top: 10px;
  line-height: 1.5em;
}

a {
  color: #931a1e;
}

/* Infobulles */

.info {
  width: 15px;
  height: 15px;
}

.more-info {
  padding: 5px;
  margin-right: 40px;
}

.more-info:hover {
  cursor: pointer;
  background: #f5d7d3;
  transition: all 0.7s ease-in-out;
  border-radius: 2%;
}

.customeTheme {
  color: #fae9e6 !important;
  background-color: #1e2858 !important;
  font-size: 0.9em !important;
}

/* Fonts */

@font-face {
  font-family: "CaviarDreams";
  src: url("./assets/CaviarDreams.TTF");
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url("./assets/CaviarDreams_Bold.TTF");
}

@font-face {
  font-family: "CenturyGothic";
  src: url("./assets/CenturyGothic.TTF");
}
